.material-list{
  height: 100%;
  width: 100%;
}

.index-menu,.design-menu{
  background: rgba(255,255,255,0);
  font-weight: 800;
  text-align: left;
  color: #000000;
}

.index-menu{
  width:30%;
  position: absolute;
  right: 14%;
}

.el-menu-item{
  font-size: 16px;
  font-family: Segoe UI, Segoe UI-Bold;
}

.index-nav>>>.el-menu-item:hover{
  color: #ff0000;
}

.el-menu.el-menu--horizontal{
  border: solid 0px;
}

.el-menu-item.is-active{
  height:55px;
}

.login-radio{
  position: absolute;
  right: 5%;
  top:20px;
}

.index-nav{
  top:0;
  width:100%;
  height: 75px;
  position: fixed;
  background-color: white;
  z-index: 50;
}

.logo{
  position: absolute;
  left: 4%;
  height: 52px;
  width: 52px;
  top:10px;
}

.logo-name{
  font-weight: 800;
  text-align: left;
  color: #000000;
  font-size: 16px;
  position: absolute;
  left: 8%;
  top:3px;
}
